%html
	%head
		%meta{name: "description", content: "A Ruby ODM for MongoDB"}
		%meta{name: "keywords", content: "mongoid, mongodb, ruby, rails, odm, durran jordan" }
		= stylesheet_link_tag "/stylesheet.css"
		= stylesheet_link_tag "/coderay.css"
		= stylesheet_link_tag "/spinner.css"          		              								
		= yield_content :head            
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>		
		<script type="text/javascript" src="/jquery.collapser.min.js"></script>
		<script type="text/javascript" src="/jquery.pjax.js"></script>		                                           
		<script type="text/javascript" src="/ja2.js"></script>

	%body
		#wrap
			#wrapper_menu	    
				= partial('partials/menu')
			#wrapper			
				#contents          			
					= partial('partials/index')
					#doc 
						.loader{:style=>'display:none'}
							%p#spinner Please wait while we do what we do best
						.yield
							= yield      
					
							<div id="disqus_thread"></div>					
							<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>							
							
							:javascript
								$(function(){								
									/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
									var disqus_shortname = 'mongoidexamplesite'; // required: replace example with your forum shortname

									// The following are highly recommended additional parameters. Remove the slashes in front to use.
									//var disqus_identifier = 'unique_dynamic_id_1234';
									// var disqus_url = 'http://example.com/permalink-to-page.html';

									/* * * DON'T EDIT BELOW THIS LINE * * */
									(function() {
									    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
									    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
									    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
									})();    
								})
		#footer
			= partial('partials/footer')