= stylesheet_link_tag "bootstrap.min.css"
= stylesheet_link_tag "mongoid.css"
= stylesheet_link_tag "mongoid-coderay.css"
= stylesheet_link_tag "bootstrap-responsive.min.css"
= javascript_include_tag "jquery-1.7.2.js"
= javascript_include_tag "bootstrap-dropdown.js"
= javascript_include_tag "bootstrap-scrollspy.js"
= javascript_include_tag "bootstrap-tooltip.js"
= javascript_include_tag "mongoid.js"
= yield_content :head
