!!! Strict
%html
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "description", content: "A Ruby ODM for MongoDB"}
    %meta{name: "keywords", content: "mongoid, mongodb, ruby, rails, odm, durran jordan" }

    = partial "en/partials/header", locals: { section: "mongoid" }

  %body{ "data-offset" => 100, "data-target" => ".page-nav", "data-spy" => "scroll-spy" }

    = partial "en/partials/navigation", locals: { section: "mongoid" }

    #navigation
      .subnav
        .container
          %ul.nav.nav-pills.mongoid
            %li= link_to "HOME", "/en/mongoid/index.html"
            %li.dropdown#docs
              %a.dropdown-toggle{:"data-toggle" => "dropdown", href: "#docs"}
                DOCS
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Installation", "/en/mongoid/docs/installation.html"
                %li= link_to "Documents", "/en/mongoid/docs/documents.html"
                %li= link_to "Persistence", "/en/mongoid/docs/persistence.html"
                %li= link_to "Querying", "/en/mongoid/docs/querying.html"
                %li= link_to "Relations", "/en/mongoid/docs/relations.html"
                %li= link_to "Nested Attributes", "/en/mongoid/docs/nested_attributes.html"
                %li= link_to "Identity Map", "/en/mongoid/docs/identity_map.html"
                %li= link_to "Callbacks", "/en/mongoid/docs/callbacks.html"
                %li= link_to "Validation", "/en/mongoid/docs/validation.html"
                %li= link_to "Indexing", "/en/mongoid/docs/indexing.html"
                %li= link_to "Rails", "/en/mongoid/docs/rails.html"
                %li= link_to "Extras", "/en/mongoid/docs/extras.html"
                %li= link_to "Upgrading", "/en/mongoid/docs/upgrading.html"
                %li= link_to "Contributing", "/en/mongoid/docs/contributing.html"
                %li= link_to "Performance", "/en/mongoid/docs/performance.html"
                %li= link_to "Tips/FAQs", "/en/mongoid/docs/tips.html"
            %li= link_to "LINKS", "/en/mongoid/links.html"

    #content
      .container
        = yield
