!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "description", content: "A MongoDB driver for Ruby "}
    %meta{name: "keywords", content: "mongoid, moped, mongodb, ruby, rails, odm, bernerd schaefer" }

    = partial "en/partials/header", locals: { section: "moped" }

  %body{ "data-offset" => 100, "data-target" => ".page-nav", "data-spy" => "scroll" }

    = partial "en/partials/navigation", locals: { section: "moped" }

    #navigation
      .subnav
        .container
          %ul.nav.nav-pills.moped
            %li= link_to "HOME", "/en/moped/index.html"
            %li.dropdown#docs
              %a.dropdown-toggle{:"data-toggle" => "dropdown", href: "#docs"}
                DOCS
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Installation", "/en/moped/docs/installation.html"
                %li= link_to "BSON", "/en/moped/docs/bson.html"
                %li= link_to "Driver", "/en/moped/docs/driver.html"
                %li= link_to "Replication", "/en/moped/docs/replication.html"
            %li= link_to "LINKS", "/en/moped/links.html"

    #content
      .container
        = yield
