!!! Strict
%html
  %head
    %meta{name: "description", content: "A Ruby DSL for building MongoDB queries"}
    %meta{name: "keywords", content: "mongoid, origin, mongodb, ruby, rails, odm, durran jordan" }

    = partial "partials/header"

  %body{ "data-offset" => 100, "data-target" => ".page-nav", "data-spy" => "scroll" }

    = partial "partials/navigation", locals: { section: "origin" }

    #navigation
      .subnav
        .container
          %ul.nav.nav-pills
            %li= link_to "HOME", "/origin/index.html"
            %li.dropdown#docs
              %a.dropdown-toggle{:"data-toggle" => "dropdown", href: "#docs"}
                DOCS
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Installation", "/origin/docs/installation.html"
                %li= link_to "Selection", "/origin/docs/selection.html"
                %li= link_to "Options", "/origin/docs/options.html"
                %li= link_to "Serialization", "/origin/docs/serialization.html"
                %li= link_to "Aliases", "/origin/docs/aliases.html"
            %li= link_to "LINKS", "/origin/links.html"

    #content
      .container
        = yield
