---
title: Links
---
%ol.links
  %li
    .image
    = link_to "Mongoid Source on Github", "http://github.com/durran/mongoid"
  %li
    = link_to "Project on Pivotal Tracker", "http://www.pivotaltracker.com/projects/27482"
  %li
    = link_to "Mongoid Build Server", "http://ci.mongoid.org"
  %li
    = link_to "Mongoid Google Group", "http://groups.google.com/group/mongoid"
  %li
    = link_to "Mongoid API Documentation", "http://rdoc.info/projects/durran/mongoid"
  %li
    = link_to "Durran on Twitter", "http://twitter.com/modetojoy"
  %li
    = link_to "MongoDB", "http://www.mongodb.org"
  %li
    = link_to "Hashrocket", "http://www.hashrocket.com"
