#header.mongoid
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %ul.nav
          %li.dropdown.link#project
            = link_to "/mongoid/index.html" do
              = image_tag "/images/mongoid-logo-small-#{section == "mongoid" ? "green" : "white"}.png"
          %li.link
            = link_to "/origin/index.html" do
              = image_tag "/images/origin-logo-small-#{section == "origin" ? "green" : "white"}.png"
          %li.link
            = link_to "/moped/index.html" do
              = image_tag "/images/moped-logo-small-#{section == "moped" ? "green" : "white"}.png"
