= link_to "/" do
  = image_tag "/images/mongoid-logo-small.png"

%ul.navigation
  %li.area= link_to_active "home", "/", class: "area"
  %li.area= link_to_active "docs", "/docs.html", class: "area"

  %li= link_to_active "installation", "/docs/installation.html", class: "section"
  - if render_subsection?("docs/installation")
    %li= link_to_active "configuration", "/docs/installation/configuration.html", class: "subsection"
    %li= link_to_active "languages", "/docs/installation/languages.html", class: "subsection"
    %li= link_to_active "replication", "/docs/installation/replication.html", class: "subsection"

  %li= link_to_active "documents", "/docs/documents.html", class: "section"
  - if render_subsection?("docs/documents")
    %li= link_to_active "fields", "/docs/documents/fields.html", class: "subsection"
    %li= link_to_active "dynamic fields", "/docs/documents/dynamic.html", class: "subsection"
    %li= link_to_active "access", "/docs/documents/access.html", class: "subsection"
    %li= link_to_active "dirty tracking", "/docs/documents/dirty.html", class: "subsection"
    %li= link_to_active "inheritance", "/docs/documents/inheritance.html", class: "subsection"

  %li= link_to_active "persistence", "/docs/persistence.html", class: "section"
  - if render_subsection?("docs/persistence")
    %li= link_to_active "standard", "/docs/persistence/standard.html", class: "subsection"
    %li= link_to_active "atomic", "/docs/persistence/atomic.html", class: "subsection"

  %li= link_to_active "querying", "/docs/querying.html", class: "section"
  - if render_subsection?("docs/querying")
    %li= link_to_active "criteria", "/docs/querying/criteria.html", class: "subsection"
    %li= link_to_active "criteria + mod", "/docs/querying/modification.html", class: "subsection"
    %li= link_to_active "finders", "/docs/querying/finders.html", class: "subsection"
    %li= link_to_active "scopes", "/docs/querying/scopes.html", class: "subsection"

  %li= link_to_active "relations", "/docs/relations.html", class: "section"
  - if render_subsection?("docs/relations")

    %li= link_to_active "embedded", "/docs/relations/embedded.html", class: "subsection"
    - if render_subsection?("docs/relations/embedded")
      %li= link_to_active "1...n", "/docs/relations/embedded/1-n.html", class: "chapter"
      %li= link_to_active "1...1", "/docs/relations/embedded/1-1.html", class: "chapter"

    %li= link_to_active "referenced", "/docs/relations/referenced.html", class: "subsection"
    - if render_subsection?("docs/relations/referenced")
      %li= link_to_active "1...n", "/docs/relations/referenced/1-n.html", class: "chapter"
      %li= link_to_active "1...1", "/docs/relations/referenced/1-1.html", class: "chapter"
      %li= link_to_active "n...n", "/docs/relations/referenced/n-n.html", class: "chapter"

    %li= link_to_active "metadata", "/docs/relations/metadata.html", class: "subsection"
    %li= link_to_active "validations", "/docs/relations/validations.html", class: "subsection"
    %li= link_to_active "nested attributes", "/docs/relations/nested_attributes.html", class: "subsection"

  %li= link_to_active "callbacks", "/docs/callbacks.html", class: "section"
  - if render_subsection?("docs/callbacks")
    %li= link_to_active "observers", "/docs/callbacks/observers.html", class: "subsection"

  %li= link_to_active "validation", "/docs/validation.html", class: "section"
  %li= link_to_active "indexing", "/docs/indexing.html", class: "section"
  %li= link_to_active "extras", "/docs/extras.html", class: "section"

  %li= link_to_active "rails", "/docs/rails.html", class: "section"
  - if render_subsection?("docs/rails")
    %li= link_to_active "rake tasks", "/docs/rails/rake.html", class: "subsection"
    %li= link_to_active "railties", "/docs/rails/railties.html", class: "subsection"

  %li= link_to_active "extensions", "/docs/extensions.html", class: "section"
  %li= link_to_active "upgrading", "/docs/upgrading.html", class: "section"
  %li= link_to_active "contributing", "/docs/contributing.html", class: "section"

  %li.area= link_to_active "performance", "/performance.html", class: "area"
  %li.area= link_to_active "credits", "/credits.html", class: "area"
  %li.area= link_to_active "links", "/links.html", class: "area"
