- content_for :head do
  %title Mongoid: Links

%h1 Links

.link-button
  = link_to "http://github.com/mongoid/mongoid", rel: "tooltip", title: "Mongoid on Github." do
    = image_tag "/images/dojocat.png"

.link-button.link-pad-left
  = link_to "http://groups.google.com/group/mongoid", rel: "tooltip", title: "The official Google Group for Mongoid." do
    = image_tag "/images/google.png"

.link-button
  = link_to "http://twitter.com/modetojoy", rel: "tooltip", title: "Durran (@modetojoy) on Twitter." do
    = image_tag "/images/twitter.png"

.link-button
  = link_to "http://mongohq.com", rel: "tooltip", title: "MongoHQ provides Mongoid with databases for testing." do
    = image_tag "/images/mongohq.png"

.link-button
  = link_to "http://travis-ci.org/#!/mongoid/mongoid", rel: "tooltip", title: "Mongoid's continuous integration on TravisCI." do
    = image_tag "/images/travis.png"

.link-button
  = link_to "http://flattr.com/thing/472303/mongoid", rel: "tooltip", title: "Donate to Mongoid via Flattr." do
    = image_tag "/images/flattr.png"

  -# %ul
    -# %li=link_to "API Documentation", "http://rdoc.info/github/mongoid/mongoid/master/frames"
