!!! Strict
%html
  %head
    %meta{name: "description", content: "一个 MongoDB 在 Ruby 下的对象文档映射（ODM）|A Ruby ODM for MongoDB"}
    %meta{name: "keywords", content: "mongoid, mongodb, ruby, rails, odm, durran jordan" }

    = partial "zh-cn~/partials/header"

  %body{ "data-offset" => 100, "data-target" => ".page-nav", "data-spy" => "scroll" }

    = partial "zh-cn~/partials/navigation", locals: { section: "mongoid" }

    #navigation
      .subnav
        .container
          %ul.nav.nav-pills
            %li= link_to "首页|HOME", "/zh-cn~/mongoid/index.html"
            %li.dropdown#docs
              %a.dropdown-toggle{:"data-toggle" => "dropdown", href: "#docs"}
                文档|DOCS
                %b.caret
              %ul.dropdown-menu
                %li= link_to "安装|Installation", "/zh-cn~/mongoid/docs/installation.html"
                %li= link_to "文档|Documents", "/zh-cn~/mongoid/docs/documents.html"
                %li= link_to "持久化|Persistence", "/zh-cn~/mongoid/docs/persistence.html"
                %li= link_to "查询|Querying", "/zh-cn~/mongoid/docs/querying.html"
                %li= link_to "关系|Relations", "/zh-cn~/mongoid/docs/relations.html"
                %li= link_to "属性嵌套|Nested Attributes", "/zh-cn~/mongoid/docs/nested_attributes.html"
                %li= link_to "Identity Map", "/zh-cn~/mongoid/docs/identity_map.html"
                %li= link_to "回调函数|Callbacks", "/zh-cn~/mongoid/docs/callbacks.html"
                %li= link_to "验证|Validation", "/zh-cn~/mongoid/docs/validation.html"
                %li= link_to "索引|Indexing", "/zh-cn~/mongoid/docs/indexing.html"
                %li= link_to "Rails|Rails", "/zh-cn~/mongoid/docs/rails.html"
                %li= link_to "附加功能|Extras", "/zh-cn~/mongoid/docs/extras.html"
                %li= link_to "升级|Upgrading", "/zh-cn~/mongoid/docs/upgrading.html"
                %li= link_to "参与贡献|Contributing", "/zh-cn~/mongoid/docs/contributing.html"
                %li= link_to "性能|Performance", "/zh-cn~/mongoid/docs/performance.html"
            %li= link_to "链接|LINKS", "/zh-cn~/mongoid/links.html"

    #content
      .container
        = yield
