!!!
%html
  %head
    %title Mongoid - #{@item[:title]}
    -# %link{ :href => "/stylesheets/style.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }

    %link{ :href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/text.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/960.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }

    %link{ :href => "/stylesheets/docs.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }


  %body
    #container
      .header
        .top_header
        .header_image
          %img{ :src => "/images/articles.png" }
      .clear
      .main
        .navigation
          %ol
            %li= link_to_unless_current("Home", "/")
            %li= link_to_unless_current("Docs", "/docs/")
            %li= link_to_unless_current("Links", "/links/")
          .clear
        #nav
          %ol
            - home_page = @items.find { |p| p.path == '/docs/'}
            - home_page.children.sort_by { |p| p.path }.each do |page|
              %li= link_to_unless_current(page[:title], page.reps[0])
        .author
          - if @item[:author]
            %p
              This page was written by
              = @item[:author]
        .content= yield
        .footer
          .content

