!!! Strict
%html{html_attrs}
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

    %title Mongoid Documentation: #{@item[:title]}

    %link{:href => "/stylesheets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/docs.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

  %body
    #page_container
      #page_menu
        %ul
          %li
            %a{:href => "../../"} Home
          %li
            %a{:href => "../../links/"} Links
          %li.current_page_item
            %a{:href => "#"} Docs
          %li
            %a{:href => "http://github.com/durran/mongoid"} Source

      #header
        %a{:href => "/"}
          %h1.logo MONGOID

        %a.docs_header{:href => "../installation/"} Documentation

      .main
        .border
          .content_body.colorize
            %h2= item[:title]
            :preserve
              #{yield}

      #rightcolumn
        #search.box
          .roundedbox
            %h3 Contents
        %ul.outline
          %li= link_to_unless_current("Installation", "/docs/installation/")
          %li= link_to_unless_current("Documents", "/docs/associations/")
          %li= link_to_unless_current("Persistence", "/docs/persistence/")
          %li= link_to_unless_current("Querying", "/docs/querying/")
          %li= link_to_unless_current("Callbacks", "/docs/callbacks/")
          %li= link_to_unless_current("Validation", "/docs/validation/")
          %li= link_to_unless_current("Inheritance", "/docs/inheritance/")
          %li= link_to_unless_current("Extras", "/docs/extras/")

