!!! Strict
%html
  %head
    %meta{name: "description", content: "A Ruby ODM for MongoDB"}
    %meta{name: "keywords", content: "mongoid, mongodb, ruby, rails, odm, durran jordan" }

    = partial "zh-cn/partials/header"

  %body{ "data-offset" => 100, "data-target" => ".page-nav", "data-spy" => "scroll" }

    = partial "zh-cn/partials/navigation", locals: { section: "mongoid" }

    #navigation
      .subnav
        .container
          %ul.nav.nav-pills
            %li= link_to "HOME", "/zh-cn/mongoid/index.html"
            %li.dropdown#docs
              %a.dropdown-toggle{:"data-toggle" => "dropdown", href: "#docs"}
                DOCS
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Installation", "/zh-cn/mongoid/docs/installation.html"
                %li= link_to "Documents", "/zh-cn/mongoid/docs/documents.html"
                %li= link_to "Persistence", "/zh-cn/mongoid/docs/persistence.html"
                %li= link_to "Querying", "/zh-cn/mongoid/docs/querying.html"
                %li= link_to "Relations", "/zh-cn/mongoid/docs/relations.html"
                %li= link_to "Nested Attributes", "/zh-cn/mongoid/docs/nested_attributes.html"
                %li= link_to "Identity Map", "/zh-cn/mongoid/docs/identity_map.html"
                %li= link_to "Callbacks", "/zh-cn/mongoid/docs/callbacks.html"
                %li= link_to "Validation", "/zh-cn/mongoid/docs/validation.html"
                %li= link_to "Indexing", "/zh-cn/mongoid/docs/indexing.html"
                %li= link_to "Rails", "/zh-cn/mongoid/docs/rails.html"
                %li= link_to "Extras", "/zh-cn/mongoid/docs/extras.html"
                %li= link_to "Upgrading", "/zh-cn/mongoid/docs/upgrading.html"
                %li= link_to "Contributing", "/zh-cn/mongoid/docs/contributing.html"
                %li= link_to "Performance", "/zh-cn/mongoid/docs/performance.html"
            %li= link_to "LINKS", "/zh-cn/mongoid/links.html"

    #content
      .container
        = yield
