%center
  = link_to "/mongoid/index.html" do
    = image_tag "/images/mongoid-logo-large-white.png"

  = link_to "/origin/index.html" do
    = image_tag "/images/origin-logo-large-white.png"

  = link_to "/moped/index.html" do
    = image_tag "/images/origin-logo-large-white.png"
