!!! Strict
%html
  %head
    %meta{name: "description", content: "A Ruby ODM for MongoDB"}
    %meta{name: "keywords", content: "mongoid, mongodb, ruby, rails, odm, durran jordan" }
    = stylesheet_link_tag "coderay.css"
    = stylesheet_link_tag "site.css"
    = yield_content :head

  %body
    #container
      .navigation= partial("partials/navigation")
      .main
        .header= partial("partials/header")
        .content= yield
        .footer= partial("partials/footer")
        .clear
