!!! Strict
%html
  %head
    %meta{name: "description", content: "A Ruby DSL for building MongoDB queries"}
    %meta{name: "keywords", content: "mongoid, origin, mongodb, ruby, rails, odm, durran jordan" }

    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag "mongoid.css"
    = stylesheet_link_tag "mongoid-coderay.css"
    = stylesheet_link_tag "bootstrap-responsive.min.css"
    = javascript_include_tag "jquery-1.7.2.js"
    = javascript_include_tag "bootstrap-dropdown.js"
    = javascript_include_tag "bootstrap-scrollspy.js"
    = javascript_include_tag "bootstrap-tooltip.js"
    = javascript_include_tag "mongoid.js"
    = yield_content :head

  %body{ "data-offset" => 100, "data-target" => ".page-nav", "data-spy" => "scroll" }
    #header.mongoid
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %ul.nav
              %li.dropdown.link#project
                = link_to "/mongoid/index.html" do
                  = image_tag "/images/mongoid-logo-small-white.png"
              %li.link
                = link_to "/origin/index.html" do
                  = image_tag "/images/origin-logo-small-green.png"
              %li.link
                = link_to "/moped/index.html" do
                  = image_tag "/images/origin-logo-small-white.png"

    #navigation
      .subnav
        .container
          %ul.nav.nav-pills
            %li= link_to "HOME", "/origin/index.html"
            %li.dropdown#docs
              %a.dropdown-toggle{:"data-toggle" => "dropdown", href: "#docs"}
                DOCS
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Installation", "/origin/docs/installation.html"
                %li= link_to "Selection", "/origin/docs/selection.html"
                %li= link_to "Options", "/origin/docs/options.html"
                %li= link_to "Serialization", "/origin/docs/serialization.html"
                %li= link_to "Aliases", "/origin/docs/aliases.html"
            %li= link_to "LINKS", "/origin/links.html"

    #content
      .container
        = yield
